.input:focus {
  border-color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputWrapper {
  margin: 20px 0px;
}

.superInput {
  border: 1px solid #ccc;
}

.errorInput {
  border-color: red;
}

.errorInput:focus {
  border: 2px solid red;
}

.error {
  color: red;
}
