.hw9 {
  margin-top: 50px;
}

.buttonsContainer {
  margin-top: 15px;
}

.clock {
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 30px;
}

.watch {
}

.watch strong {
}

.more {
  margin-top: 7px;
}