.main-wrap {
    margin-top: 50px;
}

.greetingForm {
    margin-top: 20px;
}

.inputAndButtonContainer {
    margin-top: 10px;
}

.error {
    collapse: red;
}

.input {
    border-radius: 10px;
    padding: 2px 5px;
}

.input:focus {
    border-color: #00cc22;
}

.errorInput {
    border-color: red;
}

.button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #0059b3;
    cursor: pointer;
    color: black;
}

.button:focus {
    border-color: #00cc22;
}

.button:active {
    border-color: #00cc22;
}

.button:disabled {
    opacity: 0.6;
}

.text {
    font-size: 18px;
}

.greeting {
    margin-top: 10px;
}
